In [9]:
print("Enter your name and surname")
x=input(" Please enter your name:")
y=input(" please enter your surname: ")
print(y+" ",x)

Enter your name and surname
 Please enter your name:Wadoud
 please enter your surname: Zakour
Zakour  Wadoud

In [22]:
print("Enter an n integer: ")
n= int(input("n = "))
print(n ,"+",n+n*10,"+",n+n*10+n*100,"=",n + (n+n*10)+ (n+n*10+n*100))

Enter an n integer:
n = 5
5 + 55 + 555 = 615

In [28]:
print("enter a number: ")
x= int(input())
if x%2 == 0 :
    print(x ,"is even")
else :
    print(x, "is odd")

enter a number:
2
2 is even

In [1]:
for i in range(2000,3200,1) :
    if i%7 == 0 and i%5 !=0:
        print(i,"/7 =",i/7)
    else :
        i = i+1

2002 /7 = 286.0
2009 /7 = 287.0
2016 /7 = 288.0
2023 /7 = 289.0
2037 /7 = 291.0
2044 /7 = 292.0
2051 /7 = 293.0
2058 /7 = 294.0
2072 /7 = 296.0
2079 /7 = 297.0
2086 /7 = 298.0
2093 /7 = 299.0
2107 /7 = 301.0
2114 /7 = 302.0
2121 /7 = 303.0
2128 /7 = 304.0
2142 /7 = 306.0
2149 /7 = 307.0
2156 /7 = 308.0
2163 /7 = 309.0
2177 /7 = 311.0
2184 /7 = 312.0
2191 /7 = 313.0
2198 /7 = 314.0
2212 /7 = 316.0
2219 /7 = 317.0
2226 /7 = 318.0
2233 /7 = 319.0
2247 /7 = 321.0
2254 /7 = 322.0
2261 /7 = 323.0
2268 /7 = 324.0
2282 /7 = 326.0
2289 /7 = 327.0
2296 /7 = 328.0
2303 /7 = 329.0
2317 /7 = 331.0
2324 /7 = 332.0
2331 /7 = 333.0
2338 /7 = 334.0
2352 /7 = 336.0
2359 /7 = 337.0
2366 /7 = 338.0
2373 /7 = 339.0
2387 /7 = 341.0
2394 /7 = 342.0
2401 /7 = 343.0
2408 /7 = 344.0
2422 /7 = 346.0
2429 /7 = 347.0
2436 /7 = 348.0
2443 /7 = 349.0
2457 /7 = 351.0
2464 /7 = 352.0
2471 /7 = 353.0
2478 /7 = 354.0
2492 /7 = 356.0
2499 /7 = 357.0
2506 /7 = 358.0
2513 /7 = 359.0
2527 /7 = 361.0
2534 /7 = 362.0
2541 /7 = 363.0
2548 /7 = 364.0
2562 /7 = 366.0
2569 /7 = 367.0
2576 /7 = 368.0
2583 /7 = 369.0
2597 /7 = 371.0
2604 /7 = 372.0
2611 /7 = 373.0
2618 /7 = 374.0
2632 /7 = 376.0
2639 /7 = 377.0
2646 /7 = 378.0
2653 /7 = 379.0
2667 /7 = 381.0
2674 /7 = 382.0
2681 /7 = 383.0
2688 /7 = 384.0
2702 /7 = 386.0
2709 /7 = 387.0
2716 /7 = 388.0
2723 /7 = 389.0
2737 /7 = 391.0
2744 /7 = 392.0
2751 /7 = 393.0
2758 /7 = 394.0
2772 /7 = 396.0
2779 /7 = 397.0
2786 /7 = 398.0
2793 /7 = 399.0
2807 /7 = 401.0
2814 /7 = 402.0
2821 /7 = 403.0
2828 /7 = 404.0
2842 /7 = 406.0
2849 /7 = 407.0
2856 /7 = 408.0
2863 /7 = 409.0
2877 /7 = 411.0
2884 /7 = 412.0
2891 /7 = 413.0
2898 /7 = 414.0
2912 /7 = 416.0
2919 /7 = 417.0
2926 /7 = 418.0
2933 /7 = 419.0
2947 /7 = 421.0
2954 /7 = 422.0
2961 /7 = 423.0
2968 /7 = 424.0
2982 /7 = 426.0
2989 /7 = 427.0
2996 /7 = 428.0
3003 /7 = 429.0
3017 /7 = 431.0
3024 /7 = 432.0
3031 /7 = 433.0
3038 /7 = 434.0
3052 /7 = 436.0
3059 /7 = 437.0
3066 /7 = 438.0
3073 /7 = 439.0
3087 /7 = 441.0
3094 /7 = 442.0
3101 /7 = 443.0
3108 /7 = 444.0
3122 /7 = 446.0
3129 /7 = 447.0
3136 /7 = 448.0
3143 /7 = 449.0
3157 /7 = 451.0
3164 /7 = 452.0
3171 /7 = 453.0
3178 /7 = 454.0
3192 /7 = 456.0
3199 /7 = 457.0

In [2]:
x = int(input("enter a number"))
FactX = 1
m = x
while x != 0 :
    FactX = FactX * x
    x = x-1
print(m,"! =",FactX)

enter a number4
4 ! = 24

In [1]:
def mystring(string):
    result = ""
    for i in range(len(string)):
        if i % 2 == 0 or i == 0:
            result = result + string[i]
    return result

string = input("enter a string: ")
print("your result is : ", mystring(string))

enter a string: hello team
your result is :  hlota

In [2]:
price = int(input("enter a price : "))
if price < 200 :
    final_price = price-(price*10/100)
elif  price >= 200 and price < 500:
    final_price = price-(price*30/100)
else:
    final_price = price-(price*50/100)

print("your final price is :", final_price)

enter a price : 1000
your final price is : 500.0